body {
    margin: 0;
    background-color: #f8f0e5;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
}

.navegacao {
    text-decoration: none;
    color: rgb(43, 147, 147);
    gap: 10px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-top: 20px;

}

.navegacao:hover {
    text-decoration: underline;
    color: rgb(244,190,69);
}
.logo {
    width: 150px;
    position: absolute;
    left: 0;
    margin-top: 20px;
}

#titulo {
    font-size: 70px;
    color: rgb(244,190,69);
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0px;}

h4 {
    font-size: 23px;
    color: rgb(43, 147, 147);
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
    width: 70%;
    margin: 50px auto;
}

#main {
    display: flex;
    flex-direction: row;        
    align-items: center;
    justify-content: center;
    gap: 70px;                  
    margin-top: 20px;
}

#banner {
    width: 400px;               
    display: flex;
    align-items: center;
}

#banner img {
    width: 100%;                
}

#header {
    display: flex;
    flex-direction: column;     
    align-items: center;    
    justify-content: center;
}

section h2 {
    font-size: 30px;
}

section p {
    font-size: 19px;
}
